<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AssimilationSoftware.MediaSync.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
	<connectionStrings>
  <add name="database" connectionString="datasource=index.sdf" />
  <add name="AssimilationSoftware.MediaSync.Core.Properties.Settings.MediaSyncConnectionString"
   connectionString="Data Source=|DataDirectory|\MediaSync.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
 </connectionStrings>
 <userSettings>
  <AssimilationSoftware.MediaSync.Core.Properties.Settings>
   <setting name="Configured" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MetadataFolder" serializeAs="String">
    <value>.</value>
   </setting>
   <setting name="MachineName" serializeAs="String">
    <value>{MachineName}</value>
   </setting>
  </AssimilationSoftware.MediaSync.Core.Properties.Settings>
 </userSettings>
</configuration>
