<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BNE-TECH-03" value="C:\Users\jnickerson.SNOWDEN\Pictures;C:\Users\jnickerson.SNOWDEN\Documents\My Dropbox\Photos" />
    <add key="JOHN-PC" value="C:\Users\John\Pictures;C:\Users\John\Documents\My Dropbox\Photos" />
    <add key="herbert-linux" value="/home/john/Pictures;/home/john/Dropbox/Photos" />
    <add key="HERBERT" value="C:\Documents and Settings\John\My Documents\My Pictures;C:\Documents and Settings\John\My Documents\My Dropbox\Photos" />
  </appSettings>
</configuration>
