<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssimilationSoftware.MediaSync.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AssimilationSoftware.MediaSync.Console.Properties.Settings>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineName" serializeAs="String">
                <value>{MachineName}</value>
            </setting>
            <setting name="MetadataFolder" serializeAs="String">
                <value>.</value>
            </setting>
        </AssimilationSoftware.MediaSync.Console.Properties.Settings>
    </userSettings>
</configuration>